Elementen selecteren v => port.js line 7
Elementen manipuleren V => port.js line 7
Event aan een element koppelen => port.js line 5
Formulier valideren V => port.js line 26(checken op alleen letters is automatisch want moet naam zijn)
Gebruiken van een constante V => mainscreen.js line 1
Gebruiken van template literals V => mainscreen.js line 4
Destructuring => port.js line 6
Spread (=>port.js line 44) & Rest operator(=>port.js functie op line 4 en aanroepen gebeurt in self executing function op line 19)
Iteration over een array v => mainscreen line 25 
Arrow function V => port js line 15
Callback function => mainscreen.js line 11
Promise => mainscreen.js line 36 
Consumer methods => mainsreen.js line 25
Async & Await V => mainscreen.js line 36
Self executing function => port.js line 5 
Fetch om data op te halen V => mainscreen => line  11
JSON manipuleren en weergeven v =>Mainscreen.js line 22
Basis CSS Animatie => port css line 25
Gebruiken van een flexbox of CSS grid => portofolio.css line 44 / portofolio.html line 15
Gebruik van LocalStorage V => Port js line 33.



//lijst aanmaken compacter V
//alles dynamisch laten verschijnen V
//val (geen nummers of onbestaande namen); V
//form submitten V
//terugknop v
//"test" als naam voor id weg V
