body{
    background-image: url(img/wp2097032-gondor-wallpapers.jpg);
}

input{
    position: absolute;
    left: 620px;
    top: 315px;
    size: 500px;
    padding: 15px, 20px;
   background-color: khaki;
   color: black;
   border-radius: 8px;
   border: 18px black;
}
button{
    position: absolute;
    left: 795px;
    top: 315px;
    size: 1000px;
    background-color: khaki;
    padding: 15px, 20px;
    border-radius: 8px;
    border: 1px black;
}  

h1{
    position: relative;
    left: 410px;
    top: 250px;
    color:khaki;
    border: 3px,black;
    background-size:cover;

}

   

button:hover{
   
    background-color: white;
    
}
.nav{
    display: flex;
    color: yellow;
    justify-content: space-between;
    
   /* position: absolute;
    top: 20px;
    left: 600px;*/
}

img{
width: 50px;
height: 50px;
left: 680px;
top:200px; 

position: absolute;
}



